## Scraping a table

In [1]:
import requests
import pandas as pd

from bs4 import BeautifulSoup

In [2]:
url = "https://www.worldometers.info/world-population/"

In [3]:
page = requests.get(url)
page

In [4]:
soup = BeautifulSoup(page.text, 'lxml')

In [5]:
#Subsets the HTML to only get the HTML of our table needed
table = soup.find('table', class_ = 'table table-striped table-bordered table-hover table-condensed table-list')

In [6]:
table.find_all('th')

[<th>Year<br/> (July 1) </th>,
 <th>Population</th>,
 <th>Yearly % <br/> Change</th>,
 <th>Yearly<br/> Change</th>,
 <th>Median <br/>Age</th>,
 <th>Fertility <br/>Rate</th>,
 <th>Density <br/>(P/Km²)</th>,
 <th>Urban<br/> Pop %</th>,
 <th>Urban Population</th>]

In [7]:
#Gets all the column headers of  table
headers = []
for i in table.find_all('th'):
    title = i.text.strip()
    headers.append(title)

In [8]:
headers

['Year (July 1)',
 'Population',
 'Yearly %  Change',
 'Yearly Change',
 'Median Age',
 'Fertility Rate',
 'Density (P/Km²)',
 'Urban Pop %',
 'Urban Population']

In [9]:
#Creates a dataframe using the column headers from our table
df = pd.DataFrame(columns = headers)
df

Empty DataFrame
Columns: [Year (July 1), Population, Yearly %  Change, Yearly Change, Median Age, Fertility Rate, Density (P/Km²), Urban Pop %, Urban Population]
Index: []

In [10]:
table.find_all('tr')[1:]

[<tr> <td>2020</td> <td><strong>7,794,798,739</strong></td> <td>1.05 %</td> <td>81,330,639</td> <td>30.9</td> <td>2.47</td> <td>52</td> <td>56.2 %</td> <td>4,378,993,944</td> </tr>,
 <tr> <td>2019</td> <td><strong>7,713,468,100</strong></td> <td>1.08 %</td> <td>82,377,060</td> <td>29.8</td> <td>2.51</td> <td>52</td> <td>55.7 %</td> <td>4,299,438,618</td> </tr>,
 <tr> <td>2018</td> <td><strong>7,631,091,040</strong></td> <td>1.10 %</td> <td>83,232,115</td> <td>29.8</td> <td>2.51</td> <td>51</td> <td>55.3 %</td> <td>4,219,817,318</td></tr>,
 <tr> <td>2017</td> <td><strong>7,547,858,925</strong></td> <td>1.12 %</td> <td>83,836,876</td> <td>29.8</td> <td>2.51</td> <td>51</td> <td>54.9 %</td> <td>4,140,188,594</td> </tr>,
 <tr> <td>2016</td> <td><strong>7,464,022,049</strong></td> <td>1.14 %</td> <td>84,224,910</td> <td>29.8</td> <td>2.51</td> <td>50</td> <td>54.4 %</td> <td>4,060,652,683</td> </tr>,
 <tr> <td>2015</td> <td><strong>7,379,797,139</strong></td> <td>1.19 %</td> <td>84,594,707</td> <td>30</td> <td>2.52</td> <td>50</td> <td>54.0 %</td> <td>3,981,497,663</td> </tr>,
 <tr> <td>2010</td> <td><strong>6,956,823,603</strong></td> <td>1.24 %</td> <td>82,983,315</td> <td>28</td> <td>2.58</td> <td>47</td> <td>51.7 %</td> <td>3,594,868,146</td> </tr>,
 <tr> <td>2005</td> <td><strong>6,541,907,027</strong></td> <td>1.26 %</td> <td>79,682,641</td> <td>27</td> <td>2.65</td> <td>44</td> <td>49.2 %</td> <td>3,215,905,863</td> </tr>,
 <tr> <td>2000</td> <td><strong>6,143,493,823</strong></td> <td>1.35 %</td> <td>79,856,169</td> <td>26</td> <td>2.78</td> <td>41</td> <td>46.7 %</td> <td>2,868,307,513</td> </tr>,
 <tr> <td>1995</td> <td><strong>5,744,212,979</strong></td> <td>1.52 %</td> <td>83,396,384</td> <td>25</td> <td>3.01</td> <td>39</td> <td>44.8 %</td> <td>2,575,505,235</td> </tr>,
 <tr> <td>1990</td> <td><strong>5,327,231,061</strong></td> <td>1.81 %</td> <td>91,261,864</td> <td>24</td> <td>3.44</td> <td>36</td> <td>43.0 %</td> <td>2,290,228,096</td> </tr>,
 <tr> <td>1985</td> <td><strong>4,870,921,740</strong></td> <td>1.79 %</td> <td>82,583,645</td> <td>23</td><td>3.59</td> <td>33</td> <td>41.2 %</td> <td>2,007,939,063</td> </tr>,
 <tr> <td>1980</td> <td><strong>4,458,003,514</strong></td> <td>1.79 %</td> <td>75,704,582</td> <td>23</td> <td>3.86</td> <td>30</td> <td>39.3 %</td> <td>1,754,201,029</td> </tr>,
 <tr> <td>1975</td> <td><strong>4,079,480,606</strong></td> <td>1.97 %</td> <td>75,808,712</td> <td>22</td> <td>4.47</td> <td>27</td> <td>37.7 %</td> <td>1,538,624,994</td> </tr>,
 <tr> <td>1970</td> <td><strong>3,700,437,046</strong></td> <td>2.07 %</td> <td>72,170,690</td> <td>22</td><td>4.93</td> <td>25</td> <td>36.6 %</td> <td>1,354,215,496</td> </tr>,
 <tr> <td>1965</td> <td><strong>3,339,583,597</strong></td> <td>1.93 %</td> <td>60,926,770</td> <td>22</td> <td>5.02</td> <td>22</td> <td>N.A.</td> <td>N.A.</td> </tr>,
 <tr> <td>1960</td> <td><strong>3,034,949,748</strong></td> <td>1.82 %</td> <td>52,385,962</td> <td>23</td> <td>4.90</td> <td>20</td> <td>33.7 %</td> <td>1,023,845,517</td> </tr>,
 <tr> <td>1955</td> <td><strong>2,773,019,936</strong></td> <td>1.80 %</td> <td>47,317,757</td> <td>23</td> <td>4.97</td> <td>19</td> <td>N.A.</td> <td>N.A.</td></tr>]

In [11]:
for i in table.find_all('tr')[1:]:
    row_data = i.find_all('td')
    break

row_data

[<td>2020</td>,
 <td><strong>7,794,798,739</strong></td>,
 <td>1.05 %</td>,
 <td>81,330,639</td>,
 <td>30.9</td>,
 <td>2.47</td>,
 <td>52</td>,
 <td>56.2 %</td>,
 <td>4,378,993,944</td>]

In [12]:
for i in table.find_all('tr')[1:]:
    row_data = i.find_all('td')
    row = [tr.text for tr in row_data]
    length = len(df)
    df.loc[length] = row

In [13]:
row

['1955',
 '2,773,019,936',
 '1.80 %',
 '47,317,757',
 '23',
 '4.97',
 '19',
 'N.A.',
 'N.A.']

In [15]:
df.head()

,Year (July 1),Population,Yearly % Change,Yearly Change,Median Age,Fertility Rate,Density (P/Km²),Urban Pop %,Urban Population
0,2020,"7,794,798,739",1.05 %,"81,330,639",30.9,2.47,52,56.2 %,"4,378,993,944"
1,2019,"7,713,468,100",1.08 %,"82,377,060",29.8,2.51,52,55.7 %,"4,299,438,618"
2,2018,"7,631,091,040",1.10 %,"83,232,115",29.8,2.51,51,55.3 %,"4,219,817,318"
3,2017,"7,547,858,925",1.12 %,"83,836,876",29.8,2.51,51,54.9 %,"4,140,188,594"
4,2016,"7,464,022,049",1.14 %,"84,224,910",29.8,2.51,50,54.4 %,"4,060,652,683"

In [16]:
#exports the data as a csv
df.to_csv('file_name.csv', index=False)