## Scraping NFL table

In [1]:
import requests
import pandas as pd

from bs4 import BeautifulSoup

In [2]:
url = 'https://www.nfl.com/standings/league/2022/REG'

In [3]:
page = requests.get(url)
page

In [4]:
soup = BeautifulSoup(page.text, 'lxml')

In [5]:
#Subsets the HTML to only get the HTML of our table needed
table = soup.find('table', {'summary':'Standings - Detailed View'} )

In [6]:
table.find_all('th')

[<th aria-label="Division name" scope="col">NFL Team</th>,
 <th aria-label="WINS" scope="col">W</th>,
 <th aria-label="LOSSES" scope="col">L</th>,
 <th aria-label="TIES" scope="col">T</th>,
 <th aria-label="PCT" scope="col">PCT</th>,
 <th aria-label="PF" scope="col">PF</th>,
 <th aria-label="PA" scope="col">PA</th>,
 <th aria-label="NET PTS" scope="col">Net Pts</th>,
 <th aria-label="HOME" scope="col">Home</th>,
 <th aria-label="ROAD" scope="col">Road</th>,
 <th aria-label="DIV" scope="col">Div</th>,
 <th aria-label="PCT" scope="col">Pct</th>,
 <th aria-label="CONF" scope="col">Conf</th>,
 <th aria-label="PCT" scope="col">Pct</th>,
 <th aria-label="NON-CONF" scope="col">Non-Conf</th>,
 <th aria-label="STRK" scope="col">Strk</th>,
 <th aria-label="LAST 5" scope="col">Last 5</th>]

In [7]:
#Gets all the column headers of  table
headers = []
for i in table.find_all('th'):
    title = i.text.strip()
    headers.append(title)

In [8]:
# Check the headers agains table
headers

['NFL Team',
 'W',
 'L',
 'T',
 'PCT',
 'PF',
 'PA',
 'Net Pts',
 'Home',
 'Road',
 'Div',
 'Pct',
 'Conf',
 'Pct',
 'Non-Conf',
 'Strk',
 'Last 5']

In [9]:
#Creates a dataframe using the column headers from our table
df = pd.DataFrame(columns = headers)
df

Empty DataFrame
Columns: [NFL Team, W, L, T, PCT, PF, PA, Net Pts, Home, Road, Div, Pct, Conf, Pct, Non-Conf, Strk, Last 5]
Index: []

In [10]:
# Create a loop to get data for each row and append each row 
for i in table.find_all('tr')[1:]:
    row_data = i.find_all('td')
    row = [tr.text for tr in row_data]
    length = len(df)
    df.loc[length] = row

In [11]:
# Let's take a look at the output
df

,NFL Team,W,L,T,PCT,PF,PA,Net Pts,Home,Road,Div,Pct,Conf,Pct,Non-Conf,Strk,Last 5
0,Arizona CardinalsCardinals,0,1,0,0.000,21,44,-23,0 - 1 - 0,0 - 0 - 0,0 - 0 - 0,0.000,0 - 0 - 0,0.000,0 - 1 - 0,1L,0 - 1 - 0
1,Atlanta FalconsFalcons,0,1,0,0.000,26,27,-1,0 - 1 - 0,0 - 0 - 0,0 - 1 - 0,0.000,0 - 1 - 0,0.000,0 - 0 - 0,1L,0 - 1 - 0
2,Carolina PanthersPanthers,0,1,0,0.000,24,26,-2,0 - 1 - 0,0 - 0 - 0,0 - 0 - 0,0.000,0 - 0 - 0,0.000,0 - 1 - 0,1L,0 - 1 - 0
3,Cincinnati BengalsBengals,0,1,0,0.000,20,23,-3,0 - 1 - 0,0 - 0 - 0,0 - 1 - 0,0.000,0 - 1 - 0,0.000,0 - 0 - 0,1L,0 - 1 - 0
4,Dallas CowboysCowboys,0,1,0,0.000,3,19,-16,0 - 1 - 0,0 - 0 - 0,0 - 0 - 0,0.000,0 - 1 - 0,0.000,0 - 0 - 0,1L,0 - 1 - 0
5,Denver BroncosBroncos,0,1,0,0.000,16,17,-1,0 - 0 - 0,0 - 1 - 0,0 - 0 - 0,0.000,0 - 0 - 0,0.000,0 - 1 - 0,1L,0 - 1 - 0
6,Detroit LionsLions,0,1,0,0.000,35,38,-3,0 - 1 - 0,0 - 0 - 0,0 - 0 - 0,0.000,0 - 1 - 0,0.000,0 - 0 - 0,1L,0 - 1 - 0
7,Green Bay PackersPackers,0,1,0,0.000,7,23,-16,0 - 0 - 0,0 - 1 - 0,0 - 1 - 0,0.000,0 - 1 - 0,0.000,0 - 0 - 0,1L,0 - 1 - 0
8,Houston TexansTexans,0,0,1,0.500,20,20,0,0 - 0 - 1,0 - 0 - 0,0 - 0 - 1,0.500,0 - 0 - 1,0.500,0 - 0 - 0,1T,0 - 0 - 1
9,Indianapolis ColtsColts,0,0,1,0.500,20,20,0,0 - 0 - 0,0 - 0 - 1,0 - 0 - 1,0.500,0 - 0 - 1,0.500,0 - 0 - 0,1T,0 - 0 - 1
10,Jacksonville JaguarsJaguars,0,1,0,0.000,22,28,-6,0 - 0 - 0,0 - 1 - 0,0 - 0 - 0,0.000,0 - 0 - 0,0.000,0 - 1 - 0,1L,0 - 1 - 0
11,Las Vegas RaidersRaiders,0,1,0,0.000,19,24,-5,0 - 0 - 0,0 - 1 - 0,0 - 1 - 0,0.000,0 - 1 - 0,0.000,0 - 0 - 0,1L,0 - 1 - 0
12,Los Angeles RamsRams,0,1,0,0.000,10,31,-21,0 - 1 - 0,0 - 0 - 0,0 - 0 - 0,0.000,0 - 0 - 0,0.000,0 - 1 - 0,1L,0 - 1 - 0
13,New England PatriotsPatriots,0,1,0,0.000,7,20,-13,0 - 0 - 0,0 - 1 - 0,0 - 1 - 0,0.000,0 - 1 - 0,0.000,0 - 0 - 0,1L,0 - 1 - 0
14,New York JetsJets,0,1,0,0.000,9,24,-15,0 - 1 - 0,0 - 0 - 0,0 - 0 - 0,0.000,0 - 1 - 0,0.000,0 - 0 - 0,1L,0 - 1 - 0
15,San Francisco 49ers49ers,0,1,0,0.000,10,19,-9,0 - 0 - 0,0 - 1 - 0,0 - 0 - 0,0.000,0 - 1 - 0,0.000,0 - 0 - 0,1L,0 - 1 - 0
16,Tennessee TitansTitans,0,1,0,0.000,20,21,-1,0 - 1 - 0,0 - 0 - 0,0 - 0 - 0,0.000,0 - 0 - 0,0.000,0 - 1 - 0,1L,0 - 1 - 0
17,Baltimore RavensRavens,1,0,0,1.000,24,9,15,0 - 0 - 0,1 - 0 - 0,0 - 0 - 0,0.000,1 - 0 - 0,1.000,0 - 0 - 0,1W,1 - 0 - 0
18,Buffalo BillsBills,1,0,0,1.000,31,10,21,0 - 0 - 0,1 - 0 - 0,0 - 0 - 0,0.000,0 - 0 - 0,0.000,1 - 0 - 0,1W,1 - 0 - 0
19,Chicago BearsBears,1,0,0,1.000,19,10,9,1 - 0 - 0,0 - 0 - 0,0 - 0 - 0,0.000,1 - 0 - 0,1.000,0 - 0 - 0,1W,1 - 0 - 0
20,Cleveland BrownsBrowns,1,0,0,1.000,26,24,2,0 - 0 - 0,1 - 0 - 0,0 - 0 - 0,0.000,0 - 0 - 0,0.000,1 - 0 - 0,1W,1 - 0 - 0
21,Kansas City ChiefsChiefs,1,0,0,1.000,44,21,23,0 - 0 - 0,1 - 0 - 0,0 - 0 - 0,0.000,0 - 0 - 0,0.000,1 - 0 - 0,1W,1 - 0 - 0
22,Los Angeles ChargersChargers,1,0,0,1.000,24,19,5,1 - 0 - 0,0 - 0 - 0,1 - 0 - 0,1.000,1 - 0 - 0,1.000,0 - 0 - 0,1W,1 - 0 - 0
23,Miami DolphinsDolphins,1,0,0,1.000,20,7,13,1 - 0 - 0,0 - 0 - 0,1 - 0 - 0,1.000,1 - 0 - 0,1.000,0 - 0 - 0,1W,1 - 0 - 0
24,Minnesota VikingsVikings,1,0,0,1.000,23,7,16,1 - 0 - 0,0 - 0 - 0,1 - 0 - 0,1.000,1 - 0 - 0,1.000,0 - 0 - 0,1W,1 - 0 - 0
25,New Orleans SaintsSaints,1,0,0,1.000,27,26,1,0 - 0 - 0,1 - 0 - 0,1 - 0 - 0,1.000,1 - 0 - 0,1.000,0 - 0 - 0,1W,1 - 0 - 0
26,New York GiantsGiants,1,0,0,1.000,21,20,1,0 - 0 - 0,1 - 0 - 0,0 - 0 - 0,0.000,0 - 0 - 0,0.000,1 - 0 - 0,1W,1 - 0 - 0
27,Philadelphia EaglesEagles,1,0,0,1.000,38,35,3,0 - 0 - 0,1 - 0 - 0,0 - 0 - 0,0.000,1 - 0 - 0,1.000,0 - 0 - 0,1W,1 - 0 - 0
28,Pittsburgh SteelersSteelers,1,0,0,1.000,23,20,3,0 - 0 - 0,1 - 0 - 0,1 - 0 - 0,1.000,1 - 0 - 0,1.000,0 - 0 - 0,1W,1 - 0 - 0
29,Seattle SeahawksSeahawks,1,0,0,1.000,17,16,1,1 - 0 - 0,0 - 0 - 0,0 - 0 - 0,0.000,0 - 0 - 0,0.000,1 - 0 - 0,1W,1 - 0 - 0
30,Tampa Bay BuccaneersBuccaneers,1,0,0,1.000,19,3,16,0 - 0 - 0,1 - 0 - 0,0 - 0 - 0,0.000,1 - 0 - 0,1.000,0 - 0 - 0,1W,1 - 0 - 0
31,Washington CommandersCommanders,1,0,0,1.000,28,22,6,1 - 0 - 0,0 - 0 - 0,0 - 0 - 0,0.000,0 - 0 - 0,0.000,1 - 0 - 0,1W,1 - 0 - 0

## Putting it all together

In [27]:
#Creates a dataframe using the column headers from our table
df = pd.DataFrame(columns = headers)

for row in table.find_all('tr')[1:]:
    #Strip the club name in the column NFLTeam
    first_td = row.find_all('td')[0].find('div', class_ = 'd3-o-club-fullname').text.strip()
    
    # find all data for rest of rows
    data = row.find_all('td')[1:]
    row_data = [td.text.strip() for td in data]
    
    # insert the first row to each set of list
    row_data.insert(0,first_td)
    
    # find position of df it is currently at
    length = len(df)
    
    # Add the row at the position
    df.loc[length] = row_data

In [28]:
# Check the result
df.head()

,NFL Team,W,L,T,PCT,PF,PA,Net Pts,Home,Road,Div,Pct,Conf,Pct,Non-Conf,Strk,Last 5
0,Arizona Cardinals,0,1,0,0.000,21,44,-23,0 - 1 - 0,0 - 0 - 0,0 - 0 - 0,0.000,0 - 0 - 0,0.000,0 - 1 - 0,1L,0 - 1 - 0
1,Atlanta Falcons,0,1,0,0.000,26,27,-1,0 - 1 - 0,0 - 0 - 0,0 - 1 - 0,0.000,0 - 1 - 0,0.000,0 - 0 - 0,1L,0 - 1 - 0
2,Carolina Panthers,0,1,0,0.000,24,26,-2,0 - 1 - 0,0 - 0 - 0,0 - 0 - 0,0.000,0 - 0 - 0,0.000,0 - 1 - 0,1L,0 - 1 - 0
3,Cincinnati Bengals,0,1,0,0.000,20,23,-3,0 - 1 - 0,0 - 0 - 0,0 - 1 - 0,0.000,0 - 1 - 0,0.000,0 - 0 - 0,1L,0 - 1 - 0
4,Dallas Cowboys,0,1,0,0.000,3,19,-16,0 - 1 - 0,0 - 0 - 0,0 - 0 - 0,0.000,0 - 1 - 0,0.000,0 - 0 - 0,1L,0 - 1 - 0

In [29]:
#exports the data as a csv
df.to_csv('NFLdata_2022.csv', index=False)